@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: #FCB53B;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.btn-div{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

